<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Banner</title>
    <th:block th:insert="/layout/admin/header::header"></th:block>
</head>
<body>
<div class="wrapper">
    <th:block th:insert="/layout/admin/sidebar::sidebar"></th:block>

    <div class="main">
        <th:block th:insert="/layout/admin/navbar::navbar"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/admin/banner/list}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Banner</li>
                    </ol>
                </nav>
                <h1 class="h3 mb-3"><strong>Edit Banner</strong></h1>
                <form th:action="@{'/admin/banner/updateBanner/'+${banner.id}}" th:object="${banner}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input th:field="*{id}" type="text" class="form-control" id="id" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input th:field="*{title}" type="text" class="form-control" id="title"/>
                        <div th:errors="*{title}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="url" class="form-label">Old Image</label><br>
                        <img th:src="*{url}" style="width: 100px;height: 100px;object-fit: cover"> </br>
                        <label for="url" class="form-label">Image</label>
                        <input th:field="*{file}" type="file" class="form-control" id="url"/>
                        <div th:errors="*{file}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="isDisplay" class="form-label">IsDisplay</label>
                        <select th:field="*{isDisplay}" class="form-control" id="isDisplay">
                            <option value="">Select status</option>
                            <option value="true" th:checked="*{isDisplay}">Display in Homepage</option>
                            <option value="false" th:checked="*{!isDisplay}">Hidden</option>
                        </select>
                        <small th:errors="*{isDisplay}" class="text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </form>
            </div>
        </main>
    </div>
</div>
<th:block th:insert="/layout/admin/footer::footer"></th:block>
</body>
</html>
