<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banner Management</title>
    <th:block th:insert="layout/admin/header::header"></th:block>
</head>
<body>
<div class="wrapper">
    <th:block th:insert="layout/admin/sidebar::sidebar"></th:block>

    <div class="main">
        <th:block th:insert="layout/admin/navbar::navbar"></th:block>
        <main class="content">
            <div class="container-fluid p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
                <h1 class="h3 mb-3"><strong>Banner Management</strong> </h1>

                <h1></h1>

                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <a th:href="@{/admin/banner/add}" class="btn btn-info">Add New</a>
                    </div>
                    <div class="col-md-6">
                        <form class="d-flex" th:action="@{/admin/banner/list}" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Input a keyword"
                                   aria-label="Search" name="searchQuery">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th class="w-10">
                            <a class="text-decoration-none"
                               th:href="@{/admin/banner/list(page=0, size=${size}, sortField='id', sortDirection=${sortField == 'id' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchQuery=${searchQuery})}">
                                ID <span th:if="${sortField == 'id'}"
                                         th:text="${sortDirection == 'asc' ? '↑' : '↓'}"></span>
                            </a>
                        </th>
                        <th class="w-25">
                            <a class="text-decoration-none"
                               th:href="@{/admin/banner/list(page=0, size=${size}, sortField='title', sortDirection=${sortField == 'title' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchQuery=${searchQuery})}">
                                Title <span th:if="${sortField == 'title'}"
                                            th:text="${sortDirection == 'asc' ? '↑' : '↓'}"></span>
                            </a>
                        </th>
                        <th class="w-25">
                            <a class="text-decoration-none"
                               th:href="@{/admin/banner/list(page=0, size=${size}, sortField='isDisplay', sortDirection=${sortField == 'isDisplay' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchQuery=${searchQuery})}">
                                IsDisplay <span th:if="${sortField == 'isDisplay'}"
                                                th:text="${sortDirection == 'asc' ? '↑' : '↓'}"></span>
                            </a>
                        </th>
                        <th class="w-25">Image</th>
                        <th colspan="3" class="w-25"> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="banner : ${banners}">
                        <td th:text="${banner.id}"></td>
                        <td th:text="${banner.title}"></td>
                        <td th:text="${banner.isDisplay ? 'Hiển thị':'Không hiển thị'}"></td>
                        <td><img th:src="${banner.url}" class="img-fluid"
                                 style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px"></td>
                        <td>
                            <a th:href="@{/admin/banner/updateStatus/{id}(id=${banner.id}, newStatus=!${banner.isDisplay})}"
                               onclick="return confirm('Are you sure you want to update display of this banner?');"
                               class="btn btn-primary">Update Display</a></td>
                        <td><a th:href="@{/admin/banner/edit/{id}(id=${banner.id})}" class="btn btn-warning">Edit</a>
                        </td>
                        <td><a th:href="@{/admin/banner/delete(id=${banner.id})}"
                               onclick="return confirm('Are you sure you want to delete this banner?');"
                               class="btn btn-danger">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/banner/list(page=${currentPage - 1}, size=${size}, sortField=${sortField}, sortDirection=${sortDirection}, searchQuery=${searchQuery})}"
                               tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link"
                               th:href="@{/admin/banner/list(page=${i}, size=${size}, sortField=${sortField}, sortDirection=${sortDirection}, searchQuery=${searchQuery})}"
                               th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/banner/list(page=${currentPage + 1}, size=${size}, sortField=${sortField}, sortDirection=${sortDirection}, searchQuery=${searchQuery})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>
</div>
<th:block th:insert="layout/admin/footer::footer"></th:block>
</body>
</html>
