<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/layout/user/header::header"></th:block>

<body>
<!-- Navbar start -->
<th:block th:insert="/layout/user/top-navbar::top-navbar"></th:block>
<!-- Navbar End -->

<table class="table">
    <thead>
    <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Received Name</th>
        <th scope="col">Received Address</th>
        <th scope="col">Received Phone</th>
        <th scope="col">Order Date</th>
        <th scope="col">Total Price</th>
        <th scope="col">Status</th>
        <th scope="col" colspan="1">View Detail</th>
        <th scope="col" colspan="1">Update Orders</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order,index : ${orderList}" class="">
        <th scope="row" th:text="${index.count}" class="mb-0 mt-4"></th>
        <td th:text="${order.receiveName}" class="mb-0 mt-4"></td>
        <td th:text="${order.receiveAddress}" class="mb-0 mt-4"></td>
        <td th:text="${order.receivePhone}" class="mb-0 mt-4"></td>
        <td th:text="  ${order.createdAt}" class="mb-0 mt-4"></td>
        <td th:text="  ${order.totalPrice}" class="mb-0 mt-4"></td>
        <td th:text="  ${order.orderStatus.toString()}" class="mb-0 mt-4"></td>
        <td><a th:href="@{/orders/clients/viewDetail/{orderId}(orderId=${order.getId()})}">
            <i class="bi bi-ticket-detailed" style="font-size: 30px;"></i></a>
        </td>
        <td><a th:href="@{/orders/clients/update/{orderId}(orderId=${order.getId()})}"
               class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
        </td>
    </tr>

    </tbody>
</table>
<div class="continue__shopping">
    <a th:href="@{/}">Continue Shopping</a>
</div>



<th:block th:insert="/layout/user/footer::footer"></th:block>

</body>
</html>