<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/layout/user/header::header"></th:block>

<body>
<!-- Navbar start -->
<th:block th:insert="/layout/user/top-navbar::top-navbar"></th:block>
<!-- Navbar End -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="container" th:object="${session.orders}">
            <br>
            <br>
            <h1>Order Successfully</h1>
            <h2>Thanks for your order</h2>
            <h3><a th:href="@{/orders/viewDetail/{orderId}(orderId=${session.orders.orderId})}">Order Details</a></h3>
            <button><a th:href="@{/}">Back to HomePage</a></button>
        </div>
    </div>
</div>

<th:block th:insert="/layout/user/footer::footer"></th:block>
</body>
</html>