<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="/layout/user/header::header"></th:block>

<body>
<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#"
                                                                                                 class="text-white">678
                    Street, Ha Noi</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a th:href="@{/}" class="navbar-brand"><h1 class="text-primary display-6"> CAY CANH</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a th:href="@{/}" class="nav-item nav-link active">Home</a>
                    <a href="shop.html" class="nav-item nav-link">Shop</a>
                    <a href="shop-detail.html" class="nav-item nav-link">Shop Detail</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-flex m-3 me-0">
                    <a href="#" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                              style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>
                    <a href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Receive Name</th>
                    <th scope="col">Receive Phone</th>
                    <th scope="col">Receive Address</th>
                    <th scope="col">Created Day</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${session.orders}">
                    <th scope="row" th:field="*{session.orders.orderId}">
                    </th>
                    <td>
                        <p class="mb-0 mt-4" th:text="*{session.orders.receiveName}"></p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4" th:text="*{session.orders.receivePhone}"></p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4" th:text="*{session.orders.receiveAddress}"></p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4" th:text="*{session.orders.createdAt}"></p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4"
                           th:text="${#numbers.formatDecimal(session.orders.totalPrice, 0,'COMMA',0,'POINT')+'VND'}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<th:block th:insert="/layout/user/footer::footer"></th:block>

</body>
</html>