<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management</title>
    <!-- Header -->
    <th:block th:insert="/layout/admin/header::header"></th:block>

</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <th:block th:insert="/layout/admin/sidebar::sidebar"></th:block>

    <div class="main">
        <!-- Navbar -->
        <th:block th:insert="/layout/admin/navbar::navbar"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Management</li>
                    </ol>
                </nav>

                <h1 class="h3 mb-3"><strong>Product Management</strong> </h1>

                <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-md-6">
                        <a th:href="@{/admin/product/initAddProduct}" class="btn btn-info">Add New</a>
                    </div>
                    <div class="col-md-6">
                        <form class="d-flex" th:action="@{/admin/user/list}" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Nhập tên sản phẩm..." aria-label="Search"
                                   name="name">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CATEGORY</th>
                        <th>PRICE</th>
                        <th>STOCK</th>
                        <th>IMAGE</th>
                        <th>DESCRIPTION</th>
                        <th colspan="2">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,loop : ${products}">
                        <td th:text="${p.productId}"></td>
                        <td th:text="${p.productName}"></td>
                        <td th:text="${p.category.categoryName}"></td>
                        <td th:text="${p.unitPrice}"></td>
                        <td th:text="${p.stockQuantity}"></td>
                        <td><img th:src="${p.image}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover" alt=""></td>
                        <td th:text="${p.productDescription}"></td>
                        <td><a class="btn btn-warning" th:href="@{'/admin/product/' + ${p.productId} + '/edit'}">Edit</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/admin/product/' + ${p.productId} + '/delete'}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">
                            <a class="page-link" th:href="@{'/admin/product/list?currentPage=' + ${i - 1}}" th:text="${i}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
    </div>
</div>
<!-- Footer -->
<th:block th:insert="/layout/admin/footer::footer"></th:block>

</body>
</html>