<div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="../admin/index.html">
        <span class="align-middle">AdminHub</span>
    </a>

    <ul class="sidebar-nav">
        <li class="sidebar-header">
            Pages
        </li>
        <li class="sidebar-item active">
            <a class="sidebar-link" href="#">
                <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="../admin/category/list.html">
                <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Category</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="../admin/user/list.html">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">User</span>
            </a>
        </li>

    </ul>
</div>
