<!-- Featurs Start -->
<div class="container-fluid service py-5" th:fragment="feature">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-secondary rounded border border-secondary">
                        <img th:src="@{assets/user/img/thuytung.png}" class="img-fluid rounded-top w-100"
                             alt="Cây trong nhà">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-primary text-center p-4 rounded">
                                <h5 class="text-white">Cây trong nhà</h5>
                                <h3 class="mb-0">20% OFF</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-dark rounded border border-dark">
                        <img th:src="@{assets/user/img/PHUQUY.jpg}" class="img-fluid rounded-top w-100"
                             alt="Tất cả sản phẩm" style="object-fit: cover; height: 300px;">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-light text-center p-4 rounded">
                                <h5 class="text-primary">Tất cả sản phẩm</h5>
                                <h3 class="mb-0">Free delivery</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-primary rounded border border-primary">
                        <img th:src="@{assets/user/img/thuytung.png}" class="img-fluid rounded-top w-100"
                             alt="Thủy Tùng">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-secondary text-center p-4 rounded">
                                <h5 class="text-white">Thủy Tùng</h5>
                                <h3 class="mb-0">Discount 30%</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>