<div class="container-fluid fixed-top" th:fragment="top-navbar">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between">
      <div class="top-info ps-2">
        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#"
                                                                                         class="text-white">678
          Street, Ha Noi</a></small>
        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
      </div>
      <div class="top-link pe-2">
        <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
        <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
        <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
      </div>
    </div>
  </div>
  <div class="container px-0">
    <nav class="navbar navbar-light bg-white navbar-expand-xl">
      <a th:href="@{/}" class="navbar-brand"><h1 class="text-primary display-6"> CAY CANH</h1></a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a th:href="@{/}" class="nav-item nav-link active">Home</a>
          <a th:href="@{/user/shop}" class="nav-item nav-link">Shop</a>
          <a th:href="@{/user/myWishList}" class="nav-item nav-link" th:if="${session.userLogin != null}">MyWishList</a>
          <a href="#" class="nav-item nav-link">Contact</a>
        </div>
        <div class="d-flex m-3 me-0">
          <a href="#" class="position-relative me-4 my-auto">
            <i class="fa fa-shopping-bag fa-2x"></i>
            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                  style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
          </a>
          <a th:href="@{/login}" class="my-auto">
            <i class="fas fa-user fa-2x"></i>
          </a>
          <div class="dropdown" th:if="${session.userLogin != null}">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item" th:text="${session.userLogin.fullName}"></span>
              <a class="dropdown-item" th:href="@{/user/info}">Profile</a>
              <a class="dropdown-item" th:href="@{/logout}">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>