<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Your Shopping Cart</h1>
    <div class="cart-table">
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${session.cartList}">
                <td>
                    <a th:href="@{/datail/{product_id}(product_id = ${cartItem.product.productId})}">
                        <img th:src="${cartItem.product.image}">
                    </a>
                </td>
                <td th:text="${cartItem.product.productName}"></td>
                <td>
                    <div class="input-quantity">
                        <a class="btn minus-btn" th:href="@{/minus/{shoppingCartId}(shoppingCartId = ${cartItem.getShoppingCartId()})}">
                            <button>-</button>
                        </a>
                        <label>
                            <input type="text" th:value="${cartItem.orderQuantity}">
                        </label>
                        <a class="btn plus-btn" th:href="@{/plus/{shoppingCartId}(shoppingCartId = ${cartItem.getShoppingCartId()})}">
                            <button>+</button>
                        </a>
                    </div>
                </td>
                <td th:text="${#numbers.formatDecimal(cartItem.product.unitPrice, 0, 'COMMA', 0, 'POINT')}"></td>
                <td th:text="${cartItem.product.unitPrice * cartItem.orderQuantity}"></td>
                <td>
<!--                    <form th:action="@{/update-cart-by-id}" method="post">-->
<!--                        <input type="hidden" name="cartId" th:value="${cartItem.shoppingCartId}">-->
<!--                        <input type="number" name="quantity" th:value="${cartItem.orderQuantity}" min="1">-->
<!--                        <button type="submit">Update</button>-->
<!--                    </form>-->
                    <a th:href="@{/delete-item/{id}(id=${cartItem.shoppingCartId})}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/delete-all-item/{userId}(userId=${1})}">Remove All</a>
    </div>
    <div class="cart-summary">
        <div class="cart-summary-wrap">
            <h4>Cart Summary</h4>
            <p>Sub Total <span
                    th:text="${#numbers.formatDecimal(session.total, 0, 'COMMA', 0, 'POINT') + ' VND'}"></span>
            </p>
            <p>Shipping Cost <span>0.00 VND</span></p>
            <h2>Grand Total <span
                    th:text="${#numbers.formatDecimal(session.total, 0, 'COMMA', 0, 'POINT') + ' VND'}"></span>
            </h2>
        </div>
        <div class="cart-summary-button">
            <a th:href="@{/order/checkout}">
                <button class="checkout-btn">Checkout</button>
            </a>
            <a th:href="@{/list-product}">
                <button class="reply-btn">Continue Shopping</button>
            </a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>