<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <!-- Header -->
    <th:block th:insert="/layout/admin/header::header"></th:block>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <th:block th:insert="/layout/admin/sidebar::#sidebar"></th:block>

    <div class="main">
        <!-- Navbar -->
        <th:block th:insert="/layout/admin/navbar::navbar"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/admin/user/list}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit User</li>
                    </ol>
                </nav>

                <h1 class="h3 mb-3"><strong>Edit User</strong> </h1>
                <form th:action="@{/admin/user/updateUser}" th:object="${user}" method="post">
                    <div class="mb-3">
                        <label for="Id" class="form-label">User ID</label>
                        <input th:value="*{userId}" th:field="*{userId}" type="text" class="form-control" id="Id" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">FullName</label>
                        <input th:field="*{fullName}" type="text" class="form-control" id="fullName"/>
                        <div th:errors="*{fullName}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input th:field="*{username}" type="text" class="form-control" id="username"/>
                        <div th:errors="*{username}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input th:field="*{password}" type="text" class="form-control" id="password"/>
                        <div th:errors="*{password}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input th:field="*{address}" type="text" class="form-control" id="address"/>
                        <div th:errors="*{address}" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input th:field="*{phone}" type="text" class="form-control" id="phone"/>
                        <div th:errors="*{phone}" class="text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input th:field="*{email}" type="text" class="form-control" id="email"/>
                        <div th:errors="*{email}" class="text-danger"></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Avatar</label><br>
                        <img th:src="*{avatar}" style="width: 100px;height: 100px;object-fit: cover;border-radius: 5px"> </br>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select th:field="*{status}" class="form-control" id="status">
                            <option value="">Select status</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                        <small th:errors="*{status}" class="text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </form>
            </div>
        </main>

    </div>
</div>
<!-- Footer -->
<th:block th:insert="/layout/admin/footer::footer"></th:block>

</body>
</html>
