<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Your Shopping Cart</h1>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${session.cartList}">
        <td th:text="${cartItem.product.productName}">Product Name</td>
        <td th:text="${cartItem.orderQuantity}">Quantity</td>
        <td th:text="${cartItem.product.unitPrice * cartItem.orderQuantity}">Total Price</td>
        <td>
            <form th:action="@{/update-cart-by-id}" method="post">
                <input type="hidden" name="cartId" th:value="${cartItem.cartId}">
                <input type="number" name="quantity" th:value="${cartItem.orderQuantity}" min="1">
                <button type="submit">Update</button>
            </form>
            <a th:href="@{/remove-item/{id}(id=${cartItem.cartId})}">Remove</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <strong>Total:</strong> <span th:text="${session.total}">Total Price</span>
</div>
<a href="/products">Continue Shopping</a>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>